/.venv
/22203141_Rakibul_Fall25 GradeSheet.pdf
/22203208_18_D.pdf
/471 Final note.pdf
/8085_interrupts.pdf
/Activity and Swimlane Diagram.docx
/age calculator.py
/Antigravity.exe
/Assignment guideline (1).pdf
/Assignment-Justification.docx
/Assignment-Justification.pdf
/Atol.ipynb
/Atol1 (1).ipynb
/Atol1.ipynb
/Atol1_(1).ipynb
/ATS_Optimized_CV_Bangladesh.docx
/BCSE_Thesis_Template IUBAT-DAS (1).docx
/BCSE_Thesis_Template IUBAT-DAS (2).docx
/BCSE_Thesis_Template IUBAT-DAS (3).docx
/BCSE_Thesis_Template IUBAT-DAS (4).docx
/BCSE_Thesis_Template IUBAT-DAS (5).docx
/BCSE_Thesis_Template IUBAT-DAS (5)hh.docx
/BCSE_Thesis_Template IUBAT-DAS (5)hh.pdf
/BCSE_Thesis_Template IUBAT-DAS.docx
/best_model.pkl
/Book Microprocessor Architecture  GAONKAR.pdf
/Chapter 10 Object-oriented & Functional Programming.pdf
/ChromeSetup.exe
/CineDoze.Com-Bohemian Ghora (2025) MLSBD.Shop-S01 Bengali Hoichoi WEB-DL 720p.mkv
/comparion tune mode.png
/comparision performance.png
/comparision.png
/Comprehensive Exam Questoin_Fall _2025.pdf
/Comprehensive Written Exam  Seat plan Fall 2025.xls
/Conference-template-A4.doc
/conference-template-a4.docx
/Copy of Student Performance Prediction (3).ipynb
/Copy of Student Performance Prediction.ipynb
/Csc 461 class test.pdf
/CSC471(class lecture).pdf
/desktop.ini
/Doc3 (1).docx
/Doc3.docx
/download (4).png
/E-Pharmacy__Presentationnn (3).pptx
/education-11-00552.pdf
/Entity-Relationship-Diagram - Copy (1).docx
/Entity-Relationship-Diagram - Copy.docx
/Entity-Relationship-Diagram.docx
/etmap after preprocessing.png
/Exact_Image_Style_CV.docx
/Fall 25 MarkSheet 22203141_Rakibul (1).pdf
/Fall 25 MarkSheet 22203141_Rakibul.pdf
/feature engineering.png
/final thesis report (1).pdf
/final thesis report.pdf
/Final-Micro-Processor-Assginment.doc
/Final-Micro-Processor-Assginment.pdf
/Final-Software-Report.docx
/Formula.png
/FP-calculation.docx
/Git-2.52.0-64-bit.exe
/GitHubDesktopSetup-x64.exe
/heart (1).ipynb
/heart.ipynb
/heart_disease_diagnosis (1).csv
/heart_disease_diagnosis.csv
/image.pdf
/importance.png
/jj.pdf
/LDPlayer9_ens_tcnet.is64bitos_3040_ld.exe
/learning curves.png
/MD_Saddam_Hosen_Resume_ATS_Friendly.docx
/MD_Saddam_Hosen_Resume_Layout_Match.docx
/mermaid-ai-diagram-2026-02-17-233815.png
/methodology flow diagram.drawio.png
/Microprocessor Final note Asif.pdf
/mlp 2.png
/MLP Model Training Pipeline _ Mermaid Chart.html
/MLP Model Training Pipeline _ Mermaid Chart_files
/mlp.png
/mlp_neural_network_model.pkl
/mongodb-compass-1.49.1-win32-x64.exe
/mongodb-windows-x86_64-8.2.4-signed.msi
/mongosh-2.6.0-x64.msi
/Mostak Shahariyar cv ats format (1).pdf
/Mostak Shahariyar cv ats format.docx
/Mostak Shahariyar cv ats format.pdf
/need_1 (1).ipynb
/node-v24.13.0-x64.msi
/pdf2doc.zip
/PharmaCare-E-Pharmacy-Management-System-compressed.pdf
/PLS final chapter 3,4.pdf
/PLS final chapter 5,6,7,8,9.pdf
/preprocessor.pkl
/Professional_CV_Template.docx
/ptbxl_database (1).csv
/ptbxl_database (2).csv
/ptbxl_database.csv
/Question CSE 2384 Assignment Fall 2025.pdf
/question-1.pdf
/Rakibul-Islam-Refat-FlowCV-Resume-20260113.pdf
/Rakibul-Islam-Refat-FlowCV-Resume-20260118.pdf
/Rakibul-Islam-Refat-FlowCV-Resume-20260124 (1).pdf
/Rakibul-Islam-Refat-FlowCV-Resume-20260124.pdf
/README.md
/Report Thesis.pdf
/Requirement Engineering
/Requirement Engineering (1)
/Requirement Engineering (2)
/Risk Analysis (1).docx
/Roc curve.png
/Sajib_resume (1).pdf
/Sajib_resume.pdf
/Screenshot 2026-02-17 213402.png
/SkyHigh_Airlines_OOP_Project_Report.pdf
/smote balance.png
/Software HR Notes.pdf
/Software-till-cost.docx
/SPD Paper Thesis.docx
/SPD THESIS PAPER (1).doc
/SPD THESIS PAPER (1).pdf
/SPD THESIS PAPER.doc
/SPD THESIS PAPER.pdf
/StudentPerformanceFactors_train (1).csv
/StudentPerformanceFactors_train.csv
/StudentPerformanceFactors_validation.csv
/Testing-Report-1.doc
/test_df.zip
/Thesis Template (1).docx
/Thesis Template (2).docx
/Thesis Template (3).docx
/Thesis Template.docx
/Thesis_Book_Deme_Mahfuz.docx
/Trae-Setup-x64.exe
/training_features.pkl
/train_df.zip
/Untitled Diagram.drawio.png
/validation_df.zip
/wps_wid.cid-1610488591.1767843600.exe
/~$esis Template.docx
/~$P Model Training Pipeline _ Mermaid Chart.html
/~$SE_Thesis_Template IUBAT-DAS.docx